<!DOCTYPE html>
<html>
 <head>
  <% include partials/head %>
 <title>게시판</title>
  </head>
 <body>
  <% include partials/nav %>
  <div class="container">
    <table class="table table-hover">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>165</td>
            <td>이제 곧 bootstrap4가..</td>
            <td>전형탁</td>
            <td>2016.12.02</td>
            <td>2</td>
        </tr>
        <tr>
            <td>164</td>
            <td>이제 곧 bootstrap4가..</td>
            <td>최화랑</td>
            <td>2016.12.02</td>
            <td>2</td>
        </tr>
        <tr>
            <td>163</td>
            <td>이제 곧 bootstrap4가..</td>
            <td>박주영</td>
            <td>2016.12.02</td>
            <td>2</td>
        </tr>
    </tbody> 
    </table>
    
    <hr/>
    <a class="btn btn-default pull-right">글쓰기</a>

    <div class="text-center">
        <ui class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>  
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ui>
    </div>
   </div>
 </body>
</html>